@charset "UTF-8";
@import url('./nanumgothic.css');
@import url('./nanumbarungothic.css');
@font-face{
	font-family:'Nanum Gothic','NanumGothic';
	src:url('/fonts/NanumGothic.eot');
	src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff'),url('/fonts/NanumGothic.ttf') format('truetype'),url('/fonts/NanumGothic.svg#NanumGothic') format('svg');
	src:local(※), url('/fonts/NanumGothic.woff') format('woff');
}
/*공통*/
body{width:100%;height:100%;margin:0;padding:0;background:rgba(255,255,255,1); font-family:'nanumbarungothic','Nanum Gothic','NanumGothic','Gothic','고딕','Sans-serif';overflow:auto;}
section{padding:0;margin:0;border:0;display:block;position:relative;}
article{padding:0;margin:0;border:0;display:block;position:relative;}
nav{padding:0;margin:0;border:0;display:block;position:relative;}
div{box-sizing:border-box;margin:0;display:block;position:relative;}
ul{position:relative;margin:0;padding:0;margin:0;border:0;list-style:none;display:block;box-sizing:border-box;}
img{border:0px;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;border:0;display:block;position:relative;box-sizing:border-box;font-size:1em;}
header{padding:0;margin:0;border:0;display:block;position:relative;}
footer{width:100%;background:#fff;position:relative;margin:0;padding:0;margin:0;border:0;border-top:1px solid #000;display:block;z-index:5;}
a{font-family:'nanumbarungothic', 'Nanum Gothic','NanumGothic','Gothic','고딕';}
input[type=checkbox]{display:none;}
input[type=checkbox]+label{display:inline-block;position:relative;padding-left:18px;margin-left:108px;margin-top:338px;cursor:pointer;}
input[type=checkbox]+label:before{content:"";display:inline-block;width:8px;height:8px;margin-right:10px;margin-bottom:2px;position:absolute;left:3px;bottom:1px;background:transparent;border-radius:0px;border:2px solid #513e3e;}
input[type=checkbox]:checked+label:before{content:"\2713";font-size:14px;font-weight:700;color:#513e3e;background:transparent;text-align:center;line-height:7px;}

.margin_top-10px{margin-top:10px!important;}
.margin_top-20px{margin-top:20px!important;}
.margin_top-30px{margin-top:30px!important;}
.margin_top-40px{margin-top:40px!important;}
.margin_top-50px{margin-top:50px!important;}
.margin_top-60px{margin-top:60px!important;}
.margin_top-70px{margin-top:70px!important;}
.margin_top-80px{margin-top:80px!important;}
.margin_top-90px{margin-top:90px!important;}
.margin_top-100px{margin-top:100px!important;}

.margin_bottom-10px{margin-bottom:10px!important;}
.margin_bottom-20px{margin-bottom:20px!important;}
.margin_bottom-30px{margin-bottom:30px!important;}
.margin_bottom-40px{margin-bottom:40px!important;}
.margin_bottom-50px{margin-bottom:50px!important;}
.margin_bottom-60px{margin-bottom:60px!important;}
.margin_bottom-70px{margin-bottom:70px!important;}
.margin_bottom-80px{margin-bottom:80px!important;}
.margin_bottom-90px{margin-bottom:90px!important;}
.margin_bottom-100px{margin-bottom:100px!important;}
.margin_bottom-180px{margin-bottom:180px!important;}

.btn_square{line-height:1.5rem;padding:0 1.2rem;}
.btn_rectangle{line-height:1.5rem;padding:0 1.2rem;border-radius:0.5rem;}
.btn_circle{padding:1.2rem;border-radius:100%;}

.bg_ultramarine{background-color:rgba(23,28,97,1);}
.bg_lime{background-color:rgba(141,194,31,1);}
.bg_black{background-color:rgba(0,0,0,1);}
.bg_white{background-color:rgba(255,255,255,1);}

.color_black{color:#000!important;}
.color_white{color:#fff!important;}
.color_coral{color:#424985!important;}

.clear_both{clear:both;}

.menu_btn{display:block;position:absolute;box-sizing:border-box;width:40px;height:100%;top:0;right:11px;}
.menu_btn span{display:block;position:absolute;box-sizing:border-box;width:27px;height:3px;right:0;}
.menu_btn span:nth-of-type(1){top:26px;}
.menu_btn span:nth-of-type(2){top:32px;}
.menu_btn span:nth-of-type(3){top:38px;}
.menu_btn.tomado span{background:#dbb8b8!important;}
.menu_btn.white span{background:#ffffff!important;}

.search_btn{width:32px;height:32px;background:url('../images/search_btn.png') no-repeat;background-size:cover;border:0;cursor:pointer;}

.wrap{width:100%;min-width:320px;min-height:812px;margin:0px auto;}

.wrap .rading-page{display:block;position:fixed;width:100%;height:100vh;background:#db3b3b url('../images/source/logo.png') no-repeat;background-size:321px 284px;background-position:center;z-index:20;}
.wrap .rading-page .start_btn{display:block;width:100%;height:100vh;}

.wrap .main-wrap{width:100%;height:100vh;background:#fff;}
.wrap .main-wrap .header{width:100%;height:64px;border-bottom:1px solid #db3b3b;}

.wrap .main-wrap .header h1{width:40px;height:100%;margin:0 auto;}
.wrap .main-wrap .header h1 .logo{display:block;box-sizing:border-box;width:100%;height:100%;text-align:center;padding-top:12px;}
.wrap .main-wrap .header h1 .logo img{width:24px;}

.wrap .main-wrap .section .search-area{width:100%;height:60px;}
.wrap .main-wrap .section .search-area .search-box-wrap{width:100%;min-width:320px;max-width:375px;height:60px;background:#fff url('../images/search_wrap_background.png') no-repeat;background-size:100% 100%;padding-top:15px;padding-left:30px;margin:0 auto;overflow:hidden;}
.wrap .main-wrap .section .search-area .search-box-wrap .search_box{width:72.46%;max-width:255px;height:32px;border:0;padding-left:5px;float:left;}
.wrap .main-wrap .section .search-area .search-box-wrap .search_btn{margin-right:25px;float:right;}
.wrap .main-wrap .section .select-area{width:100%;height:345px;background:#db3b3b;}
.wrap .main-wrap .section .select-area .select-object{max-width:375px;min-width:320px;width:100%;height:345px;padding:21px 12px 44px;margin:0 auto;}
.wrap .main-wrap .section .select-area .select-object>img{display:block;position:absolute;width:100%;left:0;bottom:0;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap{width:100%;height:fit-content;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap>img{display:block;min-width:296px;width:100%;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap a{display:block;position:absolute;box-sizing:border-box;width:48.43%;height:48.03%;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap .select_1{top:0;left:0;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap .select_2{top:0;right:0;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap .select_3{bottom:0;left:0;}
.wrap .main-wrap .section .select-area .select-object .select-btn-wrap .select_4{bottom:0;right:0;}

.wrap .main-wrap .section .conents-area{width:100%;min-height:256px;background:#fff;}
.wrap .main-wrap .section .conents-area .conents-box{width:100%;min-width:320px;max-width:375px;min-height:256px;background:#fff;padding:17px 18px 23px;margin:0 auto;}
.wrap .main-wrap .section .conents-area .conents-box img{width:100%;}

.wrap .main-wrap .background_filter{display:none;position:fixed;width:100%;height:100vh;box-sizing:content-box;background:rgba(0,0,0,0.6);top:0;left:0;z-index:50;overflow-y:auto;}
.wrap .main-wrap .background_filter .video-wrap{display:block;position:absolute;max-width:320px;min-width:320px;padding-top:40px;top:50%;left:50%;margin:-145px -160px;}
.wrap .main-wrap .background_filter .video-wrap .video_close_btn{position:absolute;width:40px;height:40px;background:#000 url('../images/closebtn.png') no-repeat;background-size:40px 40px;background-position:center;top:0;right:0;}
/* .wrap .main-wrap .background_filter .video-wrap iframe{width:100%;border:0;overflow:hidden;} */
.wrap .main-wrap .background_filter .video-wrap video{width:100%;}

.map-wrap{display:block;position:absolute;width:100%;min-height:100vh;background:#fff;top:0;left:0;opacity:0;z-index:-2;}
.map-wrap .map-search{width:100%;min-width:320px;height:63px;background:#db3b3b;}
.map-wrap .map-search:after{display:block;content:'';width:100%;height:0;clear:both;}
.map-wrap .map-search .back_btn{display:block;box-sizing:border-box;width:40px;height:100%;padding:25px 0px 0px 15px;float:left;}
.map-wrap .map-search .back_btn img{width:24px;}
.map-wrap .map-search .search-box-wrap{width:74.13%;min-width:237px;max-width:278px;height:63px;background:#db3b3b url('../images/onefix_search_map.png') no-repeat;background-size:100% 34px;background-position:0px 17px;margin-left:2.93%;float:left;overflow:hidden;}
.map-wrap .map-search .map_search_box{width:72.46%;max-width:200px;height:32px;border:0;padding-left:5px;margin-top:18px;margin-left:12px;float:left;}
.map-wrap .map-search .search_btn{margin-top:18px;margin-right:20px;float:right;}

.map-wrap .map-select{width:100%;min-width:320px;height:56px;background:#fff;border:2px solid #db3b3b;border-top:0;border-radius:0 0 20px 20px;}
.map-wrap .map-select .build-box{width:170px;height:56px;border:5px solid #db3b3b;border-top:0;border-radius:0 0 20px 20px;float:left;overflow:hidden;}
.map-wrap .map-select .build-box span{display:block;box-sizing:border-box;color:#513e3e;font-size:20px;font-weight:700;float:left;}
.map-wrap .map-select .build-box .house-image{width:50px;height:51px;padding:9px 0 6px;margin-left:26px;}
.map-wrap .map-select .build-box .house-image img{max-width:50px;height:100%;}
.map-wrap .map-select .build-box .house-kind{line-height:51px;text-align:right;}

.map-wrap .map-select .life-kind-wrap{display:block;float:right;margin-right:11%;height:56px;}
.map-wrap .map-select .life-kind-wrap li{height:56px;line-height:56px;padding:0 7px;font-size:15px;font-weight:500;float:left;}
.map-wrap .map-select .life-kind-wrap li:first-of-type{padding-left:0;}
.map-wrap .map-select .life-kind-wrap li:last-of-type{padding-right:0;}
.map-wrap .map-select .life-kind-wrap li a{color:#a89e9e;text-decoration:none;}
.map-wrap .map-select .life-kind-wrap li.on a{color:#513e3e;font-weight:700;}

.map-wrap .map_load{position:absolute;;width:100%;height:100vh;top:0;z-index:-1;}

.under-board_1{position:fixed;width:100%;min-width:320px;min-height:65px;height:409px;bottom:-344px;}
.under-board_1 .under-title{display:block;width:100%;height:65px;background:#db3b3b url('../images/under_title_1.png') no-repeat;background-size:344px 65px;background-position:center;border-radius:20px 20px 0px 0px;}
.under-board_1 .under-table{width:100%;height:344px;background:#ffffff url('../images/under_table.png') no-repeat;background-size:344px 344px;background-position:center;padding-top:66px;}
.under-board_1 .under-table .under_btn{display:block;box-sizing:border-box;width:100%;min-width:320px;max-width:344px;height:83px;margin:0 auto;}
.under-board_1 .under-table .under_btn_1{margin-top:0px;}
.under-board_1 .under-table .under_btn_2{margin-top:15px;}
.under-board_1 .under-table .under_btn_3{margin-top:25px;}

.under-board_2{position:fixed;width:100%;min-width:320px;min-height:65px;height:135px;bottom:-344px;}
.under-board_2 .under-sel-title{width:100%;height:65px;background:#db3b3b url('../images/under_title_2.png') no-repeat;background-size:344px 65px;background-position:center;border-radius:20px 20px 0px 0px;}
.under-board_2 .under-sel-list{width:100%;height:70px;background:#ffffff url('../images/under_li.png') no-repeat;background-size:344px 70px;background-position:center;}
.under-board_2 .under-sel-list a{display:block;width:100%;height:100%;}

.house-in-wrap{display:none;position:absolute;width:100%;min-height:100vh;background:#fff;top:0;left:0;z-index:3;}
.house-in-wrap .house-head{width:100%;min-width:320px;height:63px;background:#db3b3b;}
.house-in-wrap .house-head:after{display:block;content:'';width:100%;height:0;clear:both;}
.house-in-wrap .house-head .back_btn{display:block;box-sizing:border-box;width:40px;height:100%;padding:25px 0px 0px 15px;float:left;}
.house-in-wrap .house-head .back_btn img{width:24px;}

.house-in-wrap .house-head .head-middle{width:calc(100% - 132px);max-width:250px;height:63px;padding-left:37.33%;margin-left:12px;float:left;}
.house-in-wrap .house-head .head-middle img{position:absolute;left:0;bottom:15px;}

.house-in-wrap .house-head .head-middle .life-kind-wrap{display:block;width:110px;height:63px;box-sizing:border-box;margin:0 auto;}
.house-in-wrap .house-head .head-middle .life-kind-wrap li{box-sizing:border-box;height:63px;padding:25px 7px 15px;font-size:15px;font-weight:500;float:left;}
.house-in-wrap .house-head .head-middle .life-kind-wrap li:first-of-type{padding-left:0;}
.house-in-wrap .house-head .head-middle .life-kind-wrap li:last-of-type{padding-right:0;}
.house-in-wrap .house-head .head-middle .life-kind-wrap li a{color:#ed9d9d;text-decoration:none;}
.house-in-wrap .house-head .head-middle .life-kind-wrap li.on a{color:#ffffff;font-weight:700;}

.house-in-wrap .head-star{position:absolute;width:100%;min-width:320px;height:56px;background:#ffffff url('../images/source/6/head_star.png') no-repeat;background-position:center;border: 2px solid #db3b3b;border-top:0;border-radius:0 0 20px 20px;top:63px;z-index:5;}
.house-in-wrap #video_2{display:block;width:100%;min-width:320px;max-width:375px;margin:0 auto;}
.house-in-wrap .under-staters-wrap{width:100%;min-width:320px;max-width:375px;border-top:4px solid #db3b3b;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-tab{display:block;width:100%;min-width:320px;max-width:375px;}
.house-in-wrap .under-staters-wrap .staters-tab:after{content:'';display:block;width:97.33%;border-bottom:4px solid #513e3e;margin:0 auto;overflow:hidden;}
.house-in-wrap .under-staters-wrap .staters-tab li{width:33.33%;height:54px;box-sizing:border-box;float:left;text-align:center;}
.house-in-wrap .under-staters-wrap .staters-tab li a{display:block;box-sizing:border-box;width:fit-content;padding-top:24px;color:#a89e9e;font-size:22px;font-weight:700;text-decoration:none;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-tab li a.on{color:#513e3e;}
.house-in-wrap .under-staters-wrap .staters{display:none;position:absolute;width:100%;background:#fff;overflow-y:auto;}
.house-in-wrap .under-staters-wrap .staters.on{display:block;}
.house-in-wrap .under-staters-wrap .staters-1{min-width:320px;max-width:375px;height:450px;top:75px;}
.house-in-wrap .under-staters-wrap .staters-1 .scroll-over{max-width:343px;height:550px;background:url('../images/source/6/1_page_1.png') no-repeat;background-position:center top;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-2{min-width:320px;max-width:375px;height:400px;top:75px;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over{max-width:340px;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab{display:block;width:282px;height:38px;margin:0 auto;z-index:3;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab li{width:88px;height:38px;box-sizing:border-box;float:left;text-align:center;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab li:nth-of-type(1){margin-left:11px;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab li:nth-of-type(2){margin-left:4px;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab li:nth-of-type(3){margin-left:2px;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .over-tab li a{display:block;box-sizing:border-box;width:100%;height:100%;color:#a89e9e;font-size:22px;font-weight:700;text-decoration:none;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .staters-sel{display:none;position:absolute;width:100%;top:0;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .staters-sel.on{display:block;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .staters-sel-1{max-width:340px;height:350px;background:url('../images/source/6/sel_1.png') no-repeat;background-position:center top;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .staters-sel-2{max-width:340px;height:350px;background:url('../images/source/6/sel_2_1.png') no-repeat;background-position:center top;}
.house-in-wrap .under-staters-wrap .staters-2 .scroll-over .staters-sel-3{max-width:340px;height:350px;background:url('../images/source/6/sel_3.png') no-repeat;background-position:center top;}
.house-in-wrap .under-staters-wrap .staters-3{min-width:320px;max-width:375px;height:450px;top:75px;}
.house-in-wrap .under-staters-wrap .staters-3 .scroll-over{max-width:340px;height:500px;background:#fff url('../images/source/6/last_2.png') no-repeat;background-position:center 20px;margin:0 auto;}
.house-in-wrap .under-staters-wrap .staters-3 .scroll-over .contract_btn{display:block;width:334px;height:57px;line-height:57px;background:#513e3e;border-radius:15px;margin:30px auto 0;color:#fff;text-decoration:none;text-align:center;font-size:30px;font-weight:700;}