@charset "UTF-8";
@import url('./nanumgothic.css');
@import url('./nanumbarungothic.css');
@font-face{
	font-family:'Nanum Gothic','NanumGothic';
	src:url('/fonts/NanumGothic.eot');
	src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff'),url('/fonts/NanumGothic.ttf') format('truetype'),url('/fonts/NanumGothic.svg#NanumGothic') format('svg');
	src:local(※), url('/fonts/NanumGothic.woff') format('woff');
}
/*공통*/
body{width:100%;height:100%;margin:0;padding:0;background:rgba(0,0,0,1); font-family:'nanumbarungothic','Nanum Gothic','NanumGothic','Gothic','고딕','Sans-serif';overflow:auto;}
section{padding:0;margin:0;border:0;display:block;position:relative;}
article{padding:0;margin:0;border:0;display:block;position:relative;}
nav{padding:0;margin:0;border:0;display:block;position:relative;}
div{box-sizing:border-box;margin:0;display:block;position:relative;}
ul{position:relative;margin:0;padding:0;margin:0;border:0;list-style:none;display:block;box-sizing:border-box;}
img{border:0px;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;border:0;display:block;position:relative;box-sizing:border-box;font-size:1em;}
header{padding:0;margin:0;border:0;display:block;position:relative;}
footer{width:100%;background:#fff;position:relative;margin:0;padding:0;margin:0;border:0;border-top:1px solid #000;display:block;z-index:5;}
a{font-family:'nanumbarungothic', 'Nanum Gothic','NanumGothic','Gothic','고딕';}

.margin_top-10px{margin-top:10px!important;}
.margin_top-20px{margin-top:20px!important;}
.margin_top-30px{margin-top:30px!important;}
.margin_top-40px{margin-top:40px!important;}
.margin_top-50px{margin-top:50px!important;}
.margin_top-60px{margin-top:60px!important;}
.margin_top-70px{margin-top:70px!important;}
.margin_top-80px{margin-top:80px!important;}
.margin_top-90px{margin-top:90px!important;}
.margin_top-100px{margin-top:100px!important;}

.margin_bottom-10px{margin-bottom:10px!important;}
.margin_bottom-20px{margin-bottom:20px!important;}
.margin_bottom-30px{margin-bottom:30px!important;}
.margin_bottom-40px{margin-bottom:40px!important;}
.margin_bottom-50px{margin-bottom:50px!important;}
.margin_bottom-60px{margin-bottom:60px!important;}
.margin_bottom-70px{margin-bottom:70px!important;}
.margin_bottom-80px{margin-bottom:80px!important;}
.margin_bottom-90px{margin-bottom:90px!important;}
.margin_bottom-100px{margin-bottom:100px!important;}
.margin_bottom-180px{margin-bottom:180px!important;}

.btn_square{line-height:1.5rem;padding:0 1.2rem;}
.btn_rectangle{line-height:1.5rem;padding:0 1.2rem;border-radius:0.5rem;}
.btn_circle{padding:1.2rem;border-radius:100%;}

.bg_ultramarine{background-color:rgba(23,28,97,1);}
.bg_lime{background-color:rgba(141,194,31,1);}
.bg_black{background-color:rgba(0,0,0,1);}
.bg_white{background-color:rgba(255,255,255,1);}

.color_black{color:#000!important;}
.color_white{color:#fff!important;}
.color_coral{color:#424985!important;}

.clear_both{clear:both;}

.wrap{width:100%;min-width:320px;min-height:812px;margin:0px auto;}

.wrap .rading-page{display:none;position:fixed;width:100%;height:100vh;background:#db3b3b url('../images/source/logo.png') no-repeat;background-size:321px 284px;background-position:center;z-index:20;}
.wrap .rading-page .start_btn{display:block;width:100%;height:100vh;}

.wrap .main-wrap{width:100%;height:100vh;background:#fff;}
.wrap .main-wrap .header{width:100%;height:64px;border-bottom:1px solid #db3b3b;}

.wrap .main-wrap .header h1{width:40px;height:100%;margin:0 auto;}
.wrap .main-wrap .header h1 .logo{display:block;box-sizing:border-box;width:100%;height:100%;text-align:center;padding-top:12px;}
.wrap .main-wrap .header h1 .logo img{width:24px;}
.wrap .main-wrap .header .menu_btn{display:block;position:absolute;box-sizing:border-box;width:40px;height:100%;top:0;right:11px;}
.wrap .main-wrap .header .menu_btn span{display:block;position:absolute;box-sizing:border-box;width:27px;height:3px;background:#dbb8b8;right:0;}
.wrap .main-wrap .header .menu_btn span:nth-of-type(1){top:26px;}
.wrap .main-wrap .header .menu_btn span:nth-of-type(2){top:32px;}
.wrap .main-wrap .header .menu_btn span:nth-of-type(3){top:38px;}

.wrap .main-wrap .section .search-area{width:100%;height:60px;background:#fff;}
.wrap .main-wrap .section .select-area{width:100%;height:345px;background:#db3b3b;}
.wrap .main-wrap .section .select-area .select-object{max-width:375px;min-width:320px;width:100%;height:345px;padding:20px 12px;margin:0 auto;}
.wrap .main-wrap .section .select-area .select-object a img{display:block;min-width:296px;width:100%;}
.wrap .main-wrap .section .select-area .select-object>img{display:block;position:absolute;width:100%;left:0;bottom:0;}

.wrap .main-wrap .section .conents-area{width:100%;height:250px;background:#fff;padding:20px 18px;}


.map-wrap{display:none;}
.map-wrap .map-search .back_btn{display:block;box-sizing:border-box;width:40px;height:100%;text-align:center;}
.map-wrap .map-search .back_btn img{width:24px;}
